<div class="container-fluid">
  <div id="input">
    <h2 class="text-center">Create a new Quote</h2>

  <form class="form-group">
  <label for="Name">Name:</label>
  <input type="text" required class="form-control" name="name" placeholder="Name:">
  
  <label for="Quote">Quote:</label>
  <textarea class="form-control" name="quote"placeholder="Quote.." rows="4"></textarea>
  
  <label for="Author">Author:</label>
  <input type="text" class="form-control" name="Author"placeholder="Author:">
  <br>
  <input id="button" type="submit" class="form-control" value="Create">
</form>
   </div> 
</div>





