<div class="container-fluid">
  <div id="input">
    <h2 class="text-center">Create a new Quote</h2>

  <form (ngSubmit)='submitQuote()'#quoteForm='ngForm'>
    <div class="form-group">
  <label for="Name">Name:</label>
  <input type="text" required class="form-control" name="name" placeholder="Name:"[(ngModel)]="newQuote.postedBy"#name='ngModel'>
  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
    <p>Name is required</p>
  </div>

  <label for="Quote">Quote:</label>
  <textarea class="form-control" required name="quote"placeholder="Quote.." rows="4"[(ngModel)]="newQuote.quote"#quote='ngModel'></textarea>
  <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
    <p>Quote is required</p>
  </div>

  <label for="Author">Author:</label>
  <input type="text" required class="form-control" name="Author"placeholder="Author:"[(ngModel)]="newQuote.author"#Author='ngModel'>
  <div [hidden]="Author.valid || Author.pristine" class="alert alert-danger">
    <p>Author is required</p>
  </div>

  <br>
  <input id="button" type="submit" class="form-control" value="Create">
    </div>
</form>
   </div> 
</div>





