<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
      <div>
        <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
        <input type="text" class="fortextbox" name="name" placeholder="Name:"
        formControlName="name">
        <br/>
        <input type="text" class="fortextbox" name="quote"
        placeholder="Quote.." formControlName="quote">
        <br/>
        <input type="text" class="fortextbox" name="Author"
        placeholder="Author:" formControlName="Author">
        <br/>

        <input id="button" type="submit" class="forsubmit" value="Create">
</form>
</div>
<p>
New quote : {{quote}}{{Author}}
</p>
<router-outlet></router-outlet>