.jumbotron{
    background-image: url(../assets/one.jpeg);
    background-size: cover;
    font-weight: bold;
    text-transform: uppercase;
}
#footer{
    text-align: center;
    font-style: italic;
}