<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-form (addQuote)="addNewQuote($event)"></app-form>
          </div>
        
        <div id="theQuote" class="col-md-6">
    <h1 class="text-center">Quotes</h1>
    
        <div *ngFor='let saying of sayings;let i = index' class="data">
        <p appHighestUpvotes><span id="say">"{{saying.quote}}"</span> - <i id="authorData">{{saying.author}}</i>
            <br>posted by:<i id="authorData">{{saying.postedBy}}</i>
            <br>Posted on:<i id="authorData">{{saying.datePosted|date}}</i>
          <button id="more"(click)='toggleDetails(i)'>more</button>
          <app-quote-details [quote]='saying' *ngIf='saying.showDescription'  (isRead) = 'readQuote($event,i)'></app-quote-details></p>
        </div>

        </div>
    
    
      </div>
</div>  
