#authorData{
    color: darksalmon;
    font-size: 12px;
}
#more{
    background-color: green;
    margin-left: 50px;
}
#say{
    font-weight: bold;
}
#theQuote{
    background-color: khaki;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}
