.container-fluid{
  font-family: 'Courgette', cursive;
}
#delete{
    font-size: 15px;
    float: right;
   
  }
  
  #upvote,#downvote{
    font-size: 15px;
    margin-left: 10px;
    width: 50px;
  }
#post{
  color: green;
  font-style: italic;
}